{% extends 'intranet/base.html.twig' %}

{% block title %}AppBundle:login:login{% endblock %}

{% block body %}

    {% if errors %}
        <div>{{ errors.messageKey }}</div>
    {% endif %}


    <form action="{{ path('login') }}" method="post">
        <label for="username">Login:</label>
        <input type="text" name="_username" id="username" value="{{ lastusername }}">

        <label for="password">Hasło:</label>
        <input type="password" name="_password" id="password">

        <button>ZALOGUJ</button>

    </form>


{% endblock %}
